
!Software Version V200R021C00SPC100
#
sysname test_huawei
#
ip host veribagi.com 10.38.1.10
#
info-center loghost 172.17.12.254
#
dns resolve
dns server 10.38.1.10
dns domain veribagi.com
dns server source-ip 10.38.1.10
#
voice-vlan mac-address c800-8400-0000 mask ffff-ff00-0000
#
vlan batch 10 20 30 40 55 70 80 90 101 222
vlan batch 333 777 789
#
mac-address aging-time 60
#
lnp disable
#
authentication-profile name default_authen_profile
 authentication dot1x-mac-bypass
authentication-profile name dot1x_authen_profile
authentication-profile name dot1xmac_authen_profile
authentication-profile name mac_authen_profile
authentication-profile name multi_authen_profile
authentication-profile name portal_authen_profile
#
domain rakort.pls
#
set save-configuration delay 1
#
telnet server enable
telnet server-source all-interface
#
http server-source all-interface
#
set power manage mode 3
#
clock timezone UTC add 03:00:00
#
route low-priority enable
#
mac-spoofing-defend enable
#
drop illegal-mac enable
#
mac-address update arp
#
portal https-redirect tls1.1 enable
#
portal pass dns enable
#
undo pki key enhance enable
#
radius-server template default
 radius-server shared-key cipher %^%##Dfc<s*H7R5<CbDzkh%,2/4#"-.&BP3N62FwrEj9%^%#
 radius-server authentication 10.38.90.180 1813 weight 80
 radius-server retransmit 2
#
hwtacacs-server template fastnac
 hwtacacs-server authentication 10.38.1.45
 hwtacacs-server authorization 10.38.1.45
 hwtacacs-server accounting 10.38.1.45
 hwtacacs-server shared-key cipher %^%#E,FWPBMJV/L#n&Za}Kh9!0+TJ![Bc!$'fe1^SrfU%^%#
#
hwtacacs-server template ht
 hwtacacs-server authentication 10.38.90.180
 hwtacacs-server authorization 10.38.90.180
 hwtacacs-server shared-key cipher %^%#[1#;/>~\s67*@P#0\S>=!;=MAQ9z|J@.U36j{ttC%^%#
#
pki realm default
#
free-rule-template name default_free_rule
#
url-template name huawei
 url-parameter mac-address format delimiter - normal
#
portal-access-profile name portal_access_profile
#
vlan 10
 description LAN
vlan 55
 description testsnmp
vlan 222
 name Forti_Guest
vlan 777
 description FastNAC_ Buffer
vlan 789
 description Voice
#
aaa
 authentication-scheme default
  authentication-mode local
 authentication-scheme fastnac_auth
  authentication-mode hwtacacs local
 authentication-scheme l-h
  authentication-mode local
 authentication-scheme radius
  authentication-mode radius
 authentication-scheme ramazan
  authentication-mode radius
 authorization-scheme default
  authorization-mode hwtacacs local
 authorization-scheme fastnac_author
  authorization-mode hwtacacs local
 authorization-scheme hwtacacs
  authorization-mode local
 accounting-scheme default
  accounting-mode hwtacacs
  accounting start-fail online
 accounting-scheme fastnac_acct
  accounting-mode hwtacacs
  accounting start-fail online
 accounting-scheme hwtacacs
  accounting-mode none
  accounting realtime 3
  accounting start-fail online
 accounting-scheme ramazan
  accounting-mode radius
 local-aaa-user password policy administrator
  password history record number 0
  password expire 0
 domain default
  authentication-scheme default
  accounting-scheme default
  authorization-scheme default
  radius-server default
 domain default_admin
  authentication-scheme fastnac_auth
  accounting-scheme fastnac_acct
  authorization-scheme fastnac_author
  hwtacacs-server fastnac
 domain huawei
  authentication-scheme l-h
  accounting-scheme hwtacacs
  authorization-scheme hwtacacs
  radius-server default
  hwtacacs-server ht
 domain rakort.pls
  authentication-scheme radius
  accounting-scheme default
  radius-server default
 local-user admin password irreversible-cipher $1c$7d!HP>Y"n:$wT36JV'7tIss[f%sZ;3P7flr3<..xJMv3[*/kv\~$
 local-user admin privilege level 15
 local-user admin service-type ssh
 local-user ahmet password irreversible-cipher $1c$vByP*M9c*@$D4VZ@/C.&'4|lxNy|[RC49:9@ZU_}B9@0+9Iea"6$
 local-user ahmet privilege level 15
 local-user ahmet service-type ssh
#
interface Vlanif1
 shutdown
#
interface Vlanif10
 ip address 10.38.1.80 255.255.255.0
#
interface MEth0/0/2
#
interface GigabitEthernet0/0/1
 energy-efficient-ethernet enable
 port-auto-sleep enable
 port link-type trunk
 port trunk allow-pass vlan 2 to 4094
#
interface GigabitEthernet0/0/2
 energy-efficient-ethernet enable
 port-auto-sleep enable
 port link-type hybrid
 mac-address trap notification all
#
interface GigabitEthernet0/0/3
 energy-efficient-ethernet enable
 port-auto-sleep enable
 port link-type access
 port default vlan 10
 mac-address trap notification all
#
interface GigabitEthernet0/0/4
 energy-efficient-ethernet enable
 port-auto-sleep enable
 port link-type access
 port default vlan 10
 mac-address trap notification all
#
interface GigabitEthernet0/0/5
 energy-efficient-ethernet enable
 port-auto-sleep enable
 port link-type hybrid
 voice-vlan 30 enable
 voice-vlan legacy enable
 port hybrid pvid vlan 10
 undo port hybrid vlan 1
 port hybrid untagged vlan 10
 stp edged-port enable
 mac-address trap notification all
#
interface GigabitEthernet0/0/6
 energy-efficient-ethernet enable
 port-auto-sleep enable
 port link-type hybrid
 voice-vlan 30 enable
 voice-vlan legacy enable
 port hybrid pvid vlan 10
 undo port hybrid vlan 1
 port hybrid untagged vlan 10 20
 stp edged-port enable
 mac-address trap notification all
#
interface GigabitEthernet0/0/7
 energy-efficient-ethernet enable
 port-auto-sleep enable
 port link-type hybrid
 voice-vlan 30 enable
 voice-vlan legacy enable
 port hybrid pvid vlan 10
 undo port hybrid vlan 1
 port hybrid untagged vlan 10
 stp edged-port enable
 mac-address trap notification all
#
interface GigabitEthernet0/0/8
 energy-efficient-ethernet enable
 port-auto-sleep enable
 port link-type hybrid
 voice-vlan 30 enable
 voice-vlan legacy enable
 port hybrid pvid vlan 10
 undo port hybrid vlan 1
 port hybrid untagged vlan 10
 stp edged-port enable
 mac-address trap notification all
#
interface GigabitEthernet0/0/9
 energy-efficient-ethernet enable
 port-auto-sleep enable
 port link-type hybrid
 voice-vlan 30 enable
 voice-vlan legacy enable
 port hybrid pvid vlan 10
 undo port hybrid vlan 1
 port hybrid untagged vlan 10
 stp edged-port enable
 mac-address trap notification all
#
interface GigabitEthernet0/0/10
 energy-efficient-ethernet enable
 port-auto-sleep enable
 port link-type hybrid
 voice-vlan 30 enable
 voice-vlan legacy enable
 port hybrid pvid vlan 10
 undo port hybrid vlan 1
 port hybrid untagged vlan 10
 stp edged-port enable
 mac-address trap notification all
#
interface GigabitEthernet0/0/11
 energy-efficient-ethernet enable
 port-auto-sleep enable
 port link-type hybrid
 voice-vlan 90 enable
 voice-vlan legacy enable
 port hybrid pvid vlan 10
 undo port hybrid vlan 1
 port hybrid tagged vlan 90
 port hybrid untagged vlan 10
 stp edged-port enable
 mac-address trap notification all
#
interface GigabitEthernet0/0/12
 energy-efficient-ethernet enable
 port-auto-sleep enable
 port link-type hybrid
 voice-vlan 30 enable
 voice-vlan legacy enable
 undo port hybrid vlan 1
 port hybrid untagged vlan 10
 stp edged-port enable
 mac-address trap notification all
#
interface GigabitEthernet0/0/13
 energy-efficient-ethernet enable
 port-auto-sleep enable
 port link-type hybrid
 stp edged-port enable
 mac-address trap notification all
#
interface GigabitEthernet0/0/14
 energy-efficient-ethernet enable
 port-auto-sleep enable
 port link-type hybrid
 voice-vlan 30 enable
 voice-vlan legacy enable
 port hybrid pvid vlan 333
 undo port hybrid vlan 1
 port hybrid untagged vlan 333
 stp edged-port enable
 mac-address trap notification all
#
interface GigabitEthernet0/0/15
 energy-efficient-ethernet enable
 port-auto-sleep enable
 port link-type hybrid
 voice-vlan 30 enable
 voice-vlan legacy enable
 port hybrid pvid vlan 10
 undo port hybrid vlan 1
 port hybrid untagged vlan 10
 stp edged-port enable
 mac-address trap notification all
#
interface GigabitEthernet0/0/16
 energy-efficient-ethernet enable
 port-auto-sleep enable
 port link-type hybrid
 voice-vlan 30 enable
 voice-vlan legacy enable
 port hybrid pvid vlan 333
 undo port hybrid vlan 1
 port hybrid untagged vlan 333
 stp edged-port enable
 mac-address trap notification all
#
interface GigabitEthernet0/0/17
 energy-efficient-ethernet enable
 port-auto-sleep enable
 port link-type hybrid
 mac-address trap notification all
#
interface GigabitEthernet0/0/18
 energy-efficient-ethernet enable
 port-auto-sleep enable
 port link-type hybrid
 voice-vlan 30 enable
 voice-vlan legacy enable
 port hybrid pvid vlan 10
 undo port hybrid vlan 1
 port hybrid untagged vlan 10
 stp edged-port enable
 mac-address trap notification all
#
interface GigabitEthernet0/0/19
 energy-efficient-ethernet enable
 port-auto-sleep enable
 port link-type hybrid
 mac-address trap notification all
#
interface GigabitEthernet0/0/20
 energy-efficient-ethernet enable
 port-auto-sleep enable
 port link-type hybrid
 voice-vlan 90 enable
 voice-vlan legacy enable
 port hybrid pvid vlan 10
 undo port hybrid vlan 1
 port hybrid untagged vlan 10
 loopback-detect enable
 stp edged-port enable
 port-security enable
 port-security max-mac-num 3
 port-security aging-time 2
 mac-address trap notification all
#
interface GigabitEthernet0/0/21
 energy-efficient-ethernet enable
 port-auto-sleep enable
 port link-type hybrid
 voice-vlan 90 enable
 voice-vlan legacy enable
 port hybrid pvid vlan 10
 port hybrid untagged vlan 10
 loopback-detect enable
 stp edged-port enable
 port-security enable
 port-security max-mac-num 3
 port-security aging-time 2
 mac-address trap notification all
#
interface GigabitEthernet0/0/22
 energy-efficient-ethernet enable
 port-auto-sleep enable
 port link-type hybrid
 voice-vlan 90 enable
 port hybrid pvid vlan 10
 port hybrid untagged vlan 10
 loopback-detect enable
 stp edged-port enable
 port-security enable
 port-security max-mac-num 3
 port-security aging-time 2
 mac-address trap notification all
#
interface GigabitEthernet0/0/23
 energy-efficient-ethernet enable
 port-auto-sleep enable
 port link-type hybrid
 voice-vlan 90 enable
 voice-vlan legacy enable
 port hybrid pvid vlan 10
 undo port hybrid vlan 1
 port hybrid untagged vlan 10 20
 loopback-detect enable
 stp edged-port enable
 port-security enable
 port-security max-mac-num 3
 port-security aging-time 2
 mac-address trap notification all
#
interface GigabitEthernet0/0/24
 energy-efficient-ethernet enable
 port-auto-sleep enable
 port link-type hybrid
 voice-vlan 90 enable
 voice-vlan legacy enable
 port hybrid pvid vlan 10
 undo port hybrid vlan 1
 port hybrid untagged vlan 10 20
 loopback-detect enable
 stp edged-port enable
 port-security enable
 port-security max-mac-num 3
 port-security aging-time 2
 mac-address trap notification all
#
interface XGigabitEthernet0/0/1
 als enable
 mac-address trap notification all
#
interface XGigabitEthernet0/0/2
 als enable
 mac-address trap notification all
#
interface XGigabitEthernet0/0/3
 als enable
 mac-address trap notification all
#
interface XGigabitEthernet0/0/4
 als enable
 mac-address trap notification all
#
interface NULL0
#
undo icmp name timestamp-request receive
#
ip route-static 0.0.0.0 0.0.0.0 10.38.1.254
#
snmp-agent
snmp-agent local-engineid 800007DB03F44C7F29CDF0
snmp-agent community write cipher %^%#VJ2{Q_KC|LH)>[#R9b\G.8OS,CDm1U-dh*:|]i:%5)gw@=L7L<,8ll(-X=4:QM)40)xw$F!mpBCqw@b"%^%# mib-view iso-view
snmp-agent sys-info version v2c v3
snmp-agent group v3 fastnac_group privacy read-view fastnac_view write-view fastnac_view notify-view fastnac_view
snmp-agent target-host trap address udp-domain 10.60.2.32 params securityname fastnac v3 privacy
snmp-agent mib-view included isoview iso
snmp-agent mib-view included iso-view iso
snmp-agent mib-view included isoview01 system
snmp-agent mib-view included isoview02 interfaces
snmp-agent mib-view included fastnac_view iso
snmp-agent mib-view included fastnac_view system
snmp-agent mib-view included fastnac_view interfaces
snmp-agent usm-user v3 fastnac
snmp-agent usm-user v3 fastnac group fastnac_group
snmp-agent usm-user v3 fastnac authentication-mode md5 cipher %^%#ao|J>W5_1B5&$QIioQ&NoaeERu`[d2;4*=V0UqY;%^%#
snmp-agent usm-user v3 fastnac privacy-mode des56 cipher %^%#~^<1W=>kFO{Z0y,rc!A<oqrF+wqs>(.*i1=[,_wY%^%#
snmp-agent trap enable
snmp-agent protocol source-status all-interface
undo snmp-agent protocol source-status ipv6 all-interface
#
ssh server timeout 120
stelnet server enable
ssh user admin
ssh user admin authentication-type password
ssh user admin service-type all
ssh server-source all-interface
ssh server cipher aes256_ctr aes128_ctr
ssh server hmac sha2_256
ssh server key-exchange dh_group16_sha512 dh_group15_sha512 dh_group14_sha256 dh_group_exchange_sha256
ssh client cipher aes256_ctr aes128_ctr
ssh client hmac sha2_256
ssh client key-exchange dh_group16_sha512 dh_group15_sha512 dh_group14_sha256 dh_group_exchange_sha256
ssh server dh-exchange min-len 2048
ssh server publickey rsa_sha2_512 rsa_sha2_256 ecc
#
lldp management-address 10.38.1.80 
#
user-interface con 0
 authentication-mode password
 set authentication password cipher $1a$fJza;e-ac4$W4,d(`W>(Ay.P(OjV:oJz)tZ%'#/83Y7XEU0b3S*$
user-interface vty 0 4
 authentication-mode aaa
 user privilege level 15
user-interface vty 16 20
 authentication-mode aaa
 user privilege level 15
 protocol inbound all
#
dot1x-access-profile name dot1x_access_profile
#
mac-access-profile name mac_access_profile
#
ops
#
return 